<div style="margin-left: 80px">
  <h1>Listing businesses</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @businesses.each do |business| %>
        <tr>
          <td>&nbsp;<%= business.name %>&nbsp;</td>
          <td>&nbsp;<%= business.address %>&nbsp;</td>
          <td>&nbsp;<%= business.email %>&nbsp;</td>
          <td>&nbsp;<%= link_to 'Show', show_business_path(business) %>&nbsp;</td>
          <td>&nbsp;<%= link_to 'Edit', edit_business_path(business) %>&nbsp;</td>
          
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
