<div style="margin-left: 80px">
	<% @feedbacks.each do |feedback| %>
	<p>Feedback Description: <%= feedback.description %></p>
	<p>Email: <%= feedback.shopper.email %></p>
	<p>Business Name: <%= feedback.business.name %></p>
	<% end %>
	<p><%= link_to 'Home', home_path %>&nbsp;|&nbsp;<%= link_to 'New feedback', new_feedback_path %></p>
</div>
